<!DOCTYPE HTML>
<html>
  
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../public/pois.js"></script>
</head>
  
<body>
</body>
  
</html>



// con.connect(function(err) {
    // if (err) throw err;
    // console.log("Connected!");
    // var sql = "INSERT INTO customers (name, address) VALUES ('Company Inc', 'Highway 37')";
    // con.query(sql, function (err, result) {
    //     if (err) throw err;
    //     console.log("1 record inserted");
    // });
    // });
    // db.query('INSERT INTO pois(id) VALUES (\'"+data.id+"\''),  (error,results) => {
    // if(error) {
    //     console.log(error)
    // } else {
    //     console.log(results)
    //     return res.render('register', {
    //         message: 'User registered'
    //     })
    // }

    //  })