@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(pic.jpg)no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2cb8cd;
}

h4{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  background: #2CB8CD;
    
}

nav img {
  font-size: 30px;
  top: 12px;
  left: 5%;
}

nav img {
  border: 5px solid white;
  width: 200px;
  top: 12px;
  left: 5%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav li {
  list-style: none;
}

nav li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
  width: 100px;
  text-transform: uppercase;
}


nav li a:hover {
  background: #B1D4E0;
}

#toggle-menu {
  display: none;
}

#toggle-menu:checked~.nav-bar {
  display: block;
}

#menu-icon,
#cancel {
  color: #000;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media(max-width: 1118px){
  nav img{
    left: 8%;
  }
}

.container {
@media(max-width: 860px){
  label #menu-icon{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 90vh;
    background:#fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 999;
    flex-direction: column;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  } 
  nav ul li a{
    font-size: 20px;
  }
  #toggle-menu:checked ~ ul {
    left: 0;
}
  #toggle-menu:checked ~ label #menu-icon {
    display: none;
}
  #toggle-menu:checked ~ label #cancel {
    display: block;
}
}
}

.container .jumbotron .display {
  color: #226A80;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;

}

.container .jumbotron .display span {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}

.jumbotron p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.container .btn {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.container .btn:hover {
  background: #0C4F60;
}

/*Forms*/

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: #fff;
  border-radius: 10px;
}

.card .card-header {
  text-align: center;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #226a80;
}

.card .card-body {
  padding: 0 40px;
  box-sizing: border-box;
}


/*Profile Picture*/

.avatar-ctn {
  background-color: #fff;
  text-align: center;
}

.avatar {
  width: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card .card-body1 {
  padding: 0 40px;
  box-sizing: border-box;
  text-align: center;
}

.space {
  justify-content: center;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
}

/* Search Bar */
.wrapper {
  margin-left: 1%;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  width: 450px;
}

.container1 .btn {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.container1 .btn:hover {
  background: #0C4F60;
}

input {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
}

.results {
  padding: 0px;
}

.results ul {
  margin: 0;
  padding: 0;
}

.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #ececec
}


/* Style the tab */
.tab {
  overflow: hidden;
  max-width: 650px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: #0C4F60;

}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #226a80;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border: none;
}

.table {
  border: #0C4F60;
  font-size: 100%;
}

/*Button Popup*/

.confirm-box {
  display: block;
  width: 160px;
}

/*Admin*/


.btn2 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
  width: 250px;
  margin-top: 1%;
}

#deleteData:hover {
  background: red;
}

#btnup {
  color: #fff;
  background: #226A80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
  margin-top: 1%;
}

#btnup:hover {
  background: #0C4F60;
}
.form-control1 {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;

}

.form-control1:hover{
color: #fff;
background: #226a80;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;
padding: 10px 20px;
border-radius: 5px;
transition: 0.3s;
transition-property: background;
}

/*Admin Chart*/

.onetable,
th,
td {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-top: 1%;
}

.weekday {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-top: 3%;
  text-transform: uppercase;
  margin-left: 0.5%;
}

.choice {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}


.chart-container {
  width: 100%;
  max-width: 600px;

  display: block;
  margin: 0 auto;
}

.chr1{
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 310px;
  
}
.chr2{
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  left:118px;
  top: 310px;
  
}

@media(max-width: 1118px) {
  label #menu-icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 90vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 999;
    transition: all .5s;
    flex-direction: column;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  .container .jumbotron .display {
    color: #226A80;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 15px;
    justify-content: center;
  }

  .container .jumbotron .display span {
    color: #000;
    font-size: 25px;
    font-weight: 600;
  }

  .jumbotron p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  #toggle-menu:checked~ul {
    left: 0;
  }

  #toggle-menu:checked~label #menu-icon {
    display: none;
  }

  #toggle-menu:checked~label #cancel {
    display: block;

}
}

.chart-container {
  position: relative;
  margin: auto;
  height: 25vh;

}